<h1>Editing daily update</h1>

<%= render "form", daily_update: @daily_update %>

<br>

<div>
  <%= link_to "Show this daily update", @daily_update %> |
  <%= link_to "Back to daily updates", daily_updates_path %>
</div>
